.loginLabel{
    margin-left: 5px;
}
.error-message{
    margin: top 5px;
    color: red;
}

.signup {
    margin-top: 80px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}

.completed-item {
    background-color: #e6ffe6;
    /* Light green background for completed items */
    border-left: 4px solid #4caf50;
    /* Green border for completed items */
}